<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="styleRest.css">
	<link rel="stylesheet" type="text/css" href="style.css">

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="script.js"></script>
</head>
<body>
	<div class="Content" ng-app="TODOListApp" ng-controller="OrderFormController">
		<h1>TODO List</h1>
		<div class="AddTask">
			<input id="AddTaskText" type="text" ng-model="taskHolder" ng-keypress="AddTask($event)" value="" placeholder="Add Task">
		</div>

		<div class="TaskContainer">
			<div  class="TaskRow" ng-repeat="t in Tasks | ShowTaskType:ShowTypeHolder"  ng-class="{'finshed': t.Status ,'remain': !t.Status }" >
					<input type="checkBox" ng-click="SwitchTaskStatus(t)" ng-checked="{{t.Status}}">
					<p>{{t.Task}} </p>
					<input type="button" Value="X" class="TaskRowBtn" ng-click="RemoveTask(t.Id)">
			</div>
		</div>

		<div class="ManageBar">
			<input type="button" class="white" Value="All"  ng-click="ShowType('All')">
			<span>{{AllTasksCount()}}</span>

			<input type="button" class="remain" Value="Remain"  ng-click="ShowType('Remain')">
			<span>{{RemainTasksCount()}}</span>

			<input type="button" class="finshed" Value="Finished"  ng-click="ShowType('Finished')">
			<span>{{FinishedTasksCount()}}</span>

			<input type="button" class="white" Value="Clear All"  ng-click="RemoveAll()">
		</div>

	</div>
</body>
</html>